<thead>
  <tr>
    <th class="order-id">Codice ordine</th>
    <th class="order-date">Data</th>
    <th class="order-status">Stato</th>
    <th class="order-total">Totale</th>
    <th class="order-actions">Azioni</th>
  </tr>
</thead>
<tbody>
  <[foreach]>
    <tr style="text-align: center; text-transform: capitalize;">
      <td class="order-id"><[order_code]></td>
      <td class="order-date"><[updated_at]></td>
      <td class="order-status"><[progress_status]></td>
      <td class="order-total">
        <span class="order-price"><[total]></span>
      </td>
      <td class="order-action">
        <a href="#" class="btn btn-outline btn-default btn-block btn-sm btn-rounded">View</a>
      </td>
    </tr>
  <[/foreach]>
</tbody>