<section class="category-section top-category bg-grey mt-5 mb-5 pt-10 pb-10 appear-animate">
  <div class="container pb-2">
    <h2 class="title justify-content-center pt-1 ls-normal mb-5">Categorie Più Amate</h2>
    <div class="swiper">
      <div class="swiper-container swiper-theme pg-show" data-swiper-options="{
                            'spaceBetween': 20,
                            'slidesPerView': 2,
                            'breakpoints': {
                                '576': {
                                    'slidesPerView': 3
                                },
                                '768': {
                                    'slidesPerView': 5
                                },
                                '992': {
                                    'slidesPerView': 6
                                }
                            }
                        }">
        <div class="swiper-wrapper row cols-lg-6 cols-md-5 cols-sm-3 cols-2">

          <[foreach]>
            <!--
            <div class="swiper-slide category category-classic category-absolute overlay-zoom br-xs">
            <a href="/category/<[category_id]>" class="category-media">
              <img src="/skins/frontend/wolmart/assets/images/categories/<[category_image]>" alt="Category"
                   style="width: 200px !important; height: 200px !important;">
            </a>
            <div class="category-content">
              <h4 class="category-name"><[category_name]></h4>
              <a href="/category/<[category_id]>" class="btn btn-primary btn-link btn-underline">Acquista ora</a>
            </div>
          </div>
            -->
            <div class="swiper-slide category-wrap" style="margin-top: 50px;">
              <div class="category category-box">
                <figure class="category-media">
                  <div class="category-content">
                    <h4 class="category-name">
                      <a href="/category/<[category_id]>"><[category_name]></a>
                    </h4>
                  </div>
                </figure>
              </div>
            </div>
          <[/foreach]>

        </div>
      </div>
    </div>
  </div>
</section>