<div class="row deals-wrapper appear-animate mb-8">
  <div class="mb-4">
    <div class="single-product h-100 br-sm">
      <h4 class="title-sm title-underline font-weight-bolder ls-normal">
        Offerta del Giorno
      </h4>
      <div class="swiper">
        <div class="swiper-container swiper-theme nav-top swiper-nav-lg" data-swiper-options="{
                                    'spaceBetween': 20,
                                    'slidesPerView': 1
                                }">
          <div class="swiper-wrapper row cols-1 gutter-no">
            <div class="swiper-slide">
              <div class="product product-single row">
                <div class="col-md-6">
                  <div class="product-gallery product-gallery-sticky product-gallery-vertical">
                    <div class="swiper-container product-single-swiper swiper-theme nav-inner">
                      <div class="swiper-wrapper row cols-1 gutter-no">
                        <div class="swiper-slide">
                          <figure class="product-image">
                            <img src="/images/products/<[product_id]>/<[file_name]>"
                                 data-zoom-image="/skins/frontend/wolmart/assets/images/products/<[main_image_product_id]>/<[file_name]>"
                                 alt="Product Image" width="800"
                                 height="900">
                          </figure>
                        </div>
                      </div>
                      <div class="product-label-group">
                        <label class="product-label label-discount"><[percentage]>% di sconto</label>
                      </div>
                    </div>
                    <div class="product-thumbs-wrap swiper-container"
                         data-swiper-options="{
                                                            'direction': 'vertical',
                                                            'breakpoints': {
                                                                '0': {
                                                                    'direction': 'horizontal',
                                                                    'slidesPerView': 4
                                                                },
                                                                '992': {
                                                                    'direction': 'vertical',
                                                                    'slidesPerView': 'auto'
                                                                }
                                                            }
                                                        }">

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="product-details scrollable">
                    <h2 class="product-title mb-1">
                      <a href="/product/<[product_id]>">
                        <[product_name]>
                      </a>
                    </h2>

                    <hr class="product-divider">

                    <div class="product-price">
                      <p class="new-price ls-50">
                        €<span id="old-price" class="new-price ls-50" style="text-decoration: line-through !important;"><[price]></span>
                        -<span id="percentage" class="new-price ls-50"><[percentage]></span>%
                      </p>
                      <div class="product-variation-price">
                        <p class="title new-price" id="new-price"></p>
                      </div>
                    </div>

                    <div class="product-countdown-container flex-wrap">
                      <label class="mr-2 text-default">L'offerta termina:</label>
                      <div class="product-countdown countdown-compact"
                           data-until="2022, 12, 31" data-compact="true">
                        <[end_date]>
                      </div>
                    </div>

                    <div class="ratings-container">
                      <p class="text-dark font-weight-bold mr-1 review-rating" style="margin-bottom: 0 !important;"><[average_rating]></p>
                      <i class="w-icon-star-full mr-3"></i>
                      <p class="rating-reviews">(<[number_of_reviews]> Recensione/i)</p>
                    </div>

                    <div class="social-links-wrapper mt-1">
                      <div class="product-link-wrapper d-flex" style="line-height: 2 !important;">
                        <a href="/product/<[product_id]>" class="btn btn-primary btn-icon-right mr-5">
                          Scopri
                        </a>
                        <a href="categories.html" class="btn btn-primary btn-icon-right">
                          Aggiungi alla Wishlist
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>