<div class="swiper-wrapper">
  <div class="widget-col swiper-slide">

    <[foreach]>
    <div class="product product-widget">
      <figure class="product-media">
        <a href="/product/<[product_id]>">
          <img src="/skins/frontend/wolmart/assets/images/products/<[product_id]>/<[variant_id]>/<[file_name]>" alt="Product"
               width="100" height="113" />
        </a>
      </figure>
      <div class="product-details">
        <h4 class="product-name">
          <a href="/product/<[product_id]>"><[product_name]></a>
        </h4>
        <div class="ratings-container" style="line-height: 1.3 !important;">
          <p class="text-dark font-weight-bolder" style="margin: auto 1rem auto 0 !important;"><[average_rating]></p>
          <i class="w-icon-star-full"></i>
        </div>
        <div class="product-price">€<[price]></div>
      </div>
    </div>
    <[/foreach]>

  </div>
</div>