<[foreach]>
    <tr>
    <td class="product-thumbnail">
        <div class="p-relative">
            <a href="/product/<[product_id]>">
                <figure>
                    <img src="/skins/frontend/wolmart/assets/images/products/<[product_id]>/<[variant_id]>/<[file_name]>" alt="product"
                         width="300" height="338">
                </figure>
            </a>
            <button type="submit" class="btn btn-close"><i
                    class="fas fa-times"></i></button>
        </div>
    </td>
    <td class="product-name">
        <a href="/product/<[product_id]>">
            <[product_name]>
        </a>
    </td>
    <td class="product-price"><span class="amount">€<[price]></span></td>
    <td class="product-quantity">
        <div class="input-group">
            <input class="quantity form-control" type="number" min="1" max="100000">
            <button class="quantity-plus w-icon-plus"></button>
            <button class="quantity-minus w-icon-minus"></button>
        </div>
    </td>
    <td class="product-subtotal">
        <span class="amount">€<[subtotal]></span>
    </td>
</tr>
<[/foreach]>