<footer class="footer appear-animate" data-animation-options="{
            'name': 'fadeIn'
        }">
    <div class="footer-newsletter bg-primary">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="icon-box icon-box-side text-white">
                        <div class="icon-box-icon d-inline-flex">
                            <i class="w-icon-envelop3"></i>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title text-white text-uppercase font-weight-bold">Iscriviti alla nostra newsletter</h4>
                            <p class="text-white">Resta aggiornato su eventi, sconti e offerte!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0 ">
                    <form action="#" method="get"
                          class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                        <input type="email" class="form-control mr-2 bg-white" name="email" id="email"
                               placeholder="Il tuo indirizzo e-mail"/>
                        <button class="btn btn-dark btn-rounded" type="submit">Iscriviti<i
                                class="w-icon-long-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-about">
                        <a href="index.html" class="logo-footer">
                            <img src="/skins/frontend/wolmart/assets/images/logo_footer.png" alt="logo-footer"
                                 width="144"
                                 height="45"/>
                        </a>
                        <div class="widget-body">
                            <p class="widget-about-title">Domande? Scrivici o chiamaci 24/7</p>
                            <a href="/contact" class="widget-about-call">+39 333 333 33 33</a>
                            <p class="widget-about-desc">Registrati ora per aggiornamenti su promozioni e coupon!</p>

                            <div class="social-icons social-icons-colored">
                                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title">Azienda</h3>
                        <ul class="widget-body">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contatti</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Il Mio Account</h4>
                        <ul class="widget-body">
                            <li><a href="/cart">Visualizza Carrello</a></li>
                            <li><a href="login.html">Entra</a></li>
                            <li><a href="wishlist.html">La Mia Wishlist</a></li>
                            <li><a href="#">Politica sulla Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Servizio Clienti</h4>
                        <ul class="widget-body">
                            <li><a href="#">Metodi di Pagamento</a></li>
                            <li><a href="#">Spedizioni</a></li>
                            <li><a href="#">Termini e Condizioni</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <p class="copyright">Copyright © 2022. Tutti i Diritti Riservati.</p>
            </div>
            <div class="footer-right">
                <span class="payment-label mr-lg-8">Pagamenti Sicuri con</span>
                <figure class="payment">
                    <img src="/skins/frontend/wolmart/assets/images/payment.png" alt="payment" width="159"
                         height="25"/>
                </figure>
            </div>
        </div>
    </div>
</footer>