<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-right">
        <div class="dropdown" style="visibility: hidden;">
          <a href="#currency">USD</a>
          <div class="dropdown-box">
            <a href="#USD">USD</a>
            <a href="#EUR">EUR</a>
          </div>
        </div>
        <!-- End of DropDown Menu -->

        <div class="dropdown" style="visibility: hidden;">
          <a href="#language"><img src="/skins/frontend/wolmart/assets/images/flags/eng.png"
                                   alt="ENG Flag" width="14"
                                   height="8" class="dropdown-image"/> ENG</a>
          <div class="dropdown-box">
            <a href="#ENG">
              <img src="/skins/frontend/wolmart/assets/images/flags/eng.png" alt="ENG Flag" width="14"
                   height="8"
                   class="dropdown-image"/>
              ENG
            </a>
            <a href="#FRA">
              <img src="/skins/frontend/wolmart/assets/images/flags/fra.png" alt="FRA Flag" width="14"
                   height="8"
                   class="dropdown-image"/>
              FRA
            </a>
          </div>
        </div>
        <!-- End of Dropdown Menu -->
        <span class="divider d-lg-show"></span>
        <a href="/contact" class="d-lg-show">Contattaci</a>
        <[login_status]>
      </div>
    </div>
  </div>
  <!-- End of Header Top -->

  <div class="header-middle">
    <div class="container">
      <div class="header-left mr-md-4">
        <a href="/" class="logo ml-lg-0">
          <img src="/images/<[logo]>" alt="logo" width="144" height="45"/>
        </a>

        <form method="get" action="/products"
              class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
          <div class="select-box">
            <select id="category" name="category">
              <option value="">Tutte le Categorie</option>

              <[foreach]>
              <option value="<[bar_category_id]>"><[bar_category_name]></option>
              <[/foreach]>

            </select>
          </div>
          <input type="text" class="form-control" name="search" id="search" placeholder="Cerca in..."
                 required/>
          <button class="btn btn-search" type="submit"><i class="w-icon-search"></i>
          </button>
        </form>

      </div>
      <div class="header-right ml-4">
        <div class="header-call d-xs-show d-lg-flex align-items-center">
          <a href="tel:#" class="w-icon-call"></a>
          <div class="call-info d-lg-show">
            <h4 class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
              <a href="/contact" class="text-capitalize">Scrivici </a> o chiamaci al:</h4>
            <a href="/contact" class="phone-number font-weight-bolder ls-50"><[phone_number]></a>
          </div>
        </div>
        <a class="wishlist label-down link d-xs-show" href="/wishlist">
          <i class="w-icon-heart"></i>
          <span class="wishlist-label d-lg-show">Wishlist</span>
        </a>
        <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
          <div class="cart-overlay"></div>
          <a href="/cart" class="label-down">
            <i class="w-icon-cart"></i>
            <span class="cart-label">Carrello</span>
          </a>
          <!-- End of Dropdown Box -->
        </div>
      </div>
    </div>
  </div>
  <!-- End of Header Middle -->

  <div class="header-bottom sticky-content fix-top sticky-header has-dropdown">
    <div class="container">
      <div class="inner-wrap">
        <div class="header-left">
          <div class="dropdown category-dropdown has-border" data-visible="true">
            <a href="/categories" class="category-toggle text-dark" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="true" data-display="static"
               title="Categorie">
              <i class="w-icon-category"></i>
              <span>Categorie</span>
            </a>

            <div class="dropdown-box">
              <ul class="menu vertical-menu category-menu">

                <[foreach]>
                <li>
                  <a href="/category/<[category_id]>">
                    <[category_name]>
                  </a>
                </li>
                <[/foreach]>

                <li>
                  <a href="/categories"
                     class="font-weight-bold text-primary text-uppercase ls-25">
                    Tutte le Categorie
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-right">
        </div>
      </div>
    </div>
  </div>
</header>