<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title><[site_name]></title>

    <meta name="description"
          content="Progetto per il corso di Tecnologie Del Web">
    <meta name="author" content="Gaia, Luca, Francesco">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/skins/frontend/wolmart/assets/images/icons/favicon.png">

    <!-- WebFont.js -->
    <script>
        WebFontConfig = {
            google: {families: ['Poppins:400,500,600,700,800']}
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/skins/frontend/wolmart/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <link rel="preload" href="/skins/frontend/wolmart/assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2"
          as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/skins/frontend/wolmart/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2"
          as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/skins/frontend/wolmart/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2"
          as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/skins/frontend/wolmart/assets/fonts/wolmart87d5.woff?png09e" as="font" type="font/woff"
          crossorigin="anonymous">

    <!-- Vendor CSS -->
    <!--
    <link rel="stylesheet" type="text/css"
          href="/skins/frontend/wolmart/assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/skins/frontend/wolmart/assets/vendor/fontawesome-free/css/all.min.css">
    -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/skins/frontend/wolmart/assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" type="text/css"
          href="/skins/frontend/wolmart/assets/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="/skins/frontend/wolmart/assets/vendor/nouislider/nouislider.min.css">
    <link rel="stylesheet" type="text/css"
          href="/skins/frontend/wolmart/assets/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/skins/frontend/wolmart/assets/vendor/swiper/swiper-bundle.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="/skins/frontend/wolmart/assets/css/index.min.css">
    <link rel="stylesheet" type="text/css" href="/skins/frontend/wolmart/assets/css/style.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/skins/frontend/wolmart/assets/css/custom/custom.css">

    <script>
        WebFontConfig = {
            google: {families: ['Poppins:400,500,600,700']}
        };
        (function (d) {
            let wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/skins/frontend/wolmart/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- jQuery -->
    <script src="/skins/frontend/wolmart/assets/vendor/jquery/jquery.min.js"></script>

</head>

<body class="home">
<div class="page-wrapper">
    <h1 class="d-none"><[site_name]></h1>

    <!-- Header (header.html) -->
    <[header]>

    <!-- Content -->
    <!-- Old (default) content is in the defaults -->
    <[content]>

    <!-- Footer (footer.html) -->
    <[footer]>

</div>
<!-- End of Page-wrapper-->


<!-- Plugin JS File -->
<!-- <script src="/skins/frontend/wolmart/assets/vendor/jquery/jquery.min.js"></script> -->
<script src="/skins/frontend/wolmart/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
<!--
<script src="/skins/frontend/wolmart/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
-->
<script src="/skins/frontend/wolmart/assets/vendor/skrollr/skrollr.min.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/sticky/sticky.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/nouislider/nouislider.min.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/zoom/jquery.zoom.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/photoswipe/photoswipe.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/photoswipe/photoswipe-ui-default.js"></script>
<script src="/skins/frontend/wolmart/assets/vendor/jquery.count-to/jquery.count-to.min.js"></script>


<!-- Swiper JS -->
<script src="/skins/frontend/wolmart/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS -->
<script src="/skins/frontend/wolmart/assets/js/main.min.js"></script>

</body>


</html>