<thead>
    <tr>
        <th class="product-name"><span>Articolo</span></th>
        <th></th>
        <th class="product-price"><span>Prezzo</span></th>
        <th class="product-quantity"><span>Quantità</span></th>
        <th class="product-subtotal"><span>Subtotale</span></th>
    </tr>
</thead>
<tbody>
    <[foreach]>
        <tr style="text-align: center !important;">
        <td class="product-thumbnail">
            <div class="p-relative">
                <a href="/product/<[product_id]>">
                    <figure>
                        <img src="/images/products/<[product_id]>/<[file_name]>" alt="product"
                             style="height: 150px !important; width: 100px !important;">
                    </figure>
                </a>
                <button class="btn btn-close"><i id="rm-<[product_id]>" class="w-icon-return remove-item-icon"></i></button>
            </div>
        </td>
        <td class="product-name">
            <a href="/product/<[product_id]>">
                <[product_name]>
            </a>
            <p class="product-id" hidden><[product_id]></p>
        </td>
        <[price]>
            <td class="product-quantity">
                <div class="input-group" style="text-align: center !important;">
                    <p class="product-quantity-p" style="width: 100% !important;"><[quantity]></p>
                </div>
                <div class="input-group" style="width: 100% !important;">
                    <a id="i-<[product_id]>" class="w-icon-minus item-quantity-decrease" style="font-size: 2rem; width: 50% !important; text-align: center;"></a>
                    <a id="d-<[product_id]>" class="w-icon-plus item-quantity-increase" style="font-size: 2rem; width: 50% !important; text-align: center;"></a>
                </div>
            </td>
        <td class="product-subtotal">
            €<span class="amount subtotal"><[subtotal]></span>
        </td>
    </tr>
    <[/foreach]>
</tbody>